<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="../js/vue.js" ></script>
</head>
<body>
    <div id="root">
        <!-- 使用watch 完成列表的模糊搜索过滤 -->
    
        <input type="text" placeholder="请输入想要搜索的诗人" v-model="keyword"></input>
        <ul>
            <li v-for="p in hitList" :key="p.id">
                {{p.id}}-{{p.name}}-{{p.sex}}</li>
        </ul>

    </div>


    <script type="text/javascript">

        Vue.config.productionTip = false;
        new Vue({
            el: '#root',
            data: {
                personList:[
                    {id: 001, name: '李清照',age: 18,sex:'女'},
                    {id: 002, name: '李白', age: 20, sex:'男'},
                    {id: 003, name: '白居易', age: 23 , sex: '男'},
                    {id: 004, name: '易安居士', age: 18, sex: '男'}
                ],
                // hitList:[], // 被搜索的对象
                keyword:''
                   
                },
                // watch:{  // 监视怎么能有return呢，被发现了还能叫监视
                //     keyword:{
                //         immediate:true,
                //         handler(val){
                //             this.hitList = this.personList.filter(p =>{
                //             return p.name.indexOf(val) !== -1
                //         })
                //         }

                         
                //     }

                // }
                computed:{  // 计算出来的  有return 
                    hitList(){
                        return this.personList.filter(p =>{
                            return p.name.indexOf(this.keyword) !== -1
                        })
                    }
                }
            })
    </script>
    
</body>
</html>